body {
    background: #feefb8;
}
.container1 {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #feefb8;
    opacity: .7;
}

header::after {
    content: " ";
    display: table;
    clear: both;
}
.name {
    font-size: 50px;
    margin-left: 70px;
    float: left;
    padding: 10px 0;
    color: black;
    opacity: .9;
    font-family: 'Cormorant Infant', serif;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    position: relative;
    font-family: 'Cormorant Infant', serif;

}

nav a {
    color: #e24e32;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

nav a:hover {
    color: black;
    text-decoration: none;
}

nav a::before {
    content: " ";
    display: block;
    height: 5px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms; 
}

nav a:hover::before {
    width: 100%;
}

img {
    max-width: 100%;
    position: relative;
    top: -100px;
    z-index: -1;
}

.about {
    font-family: 'Cormorant Infant', serif;
    text-align: center;
    font-size: 75px;
    margin-top: -100px;
    background-color: #feefb8;
    color: #e24e32;
    font-weight: bolder;
    padding: 20px;
}

.portfolio {
    font-family: 'Cormorant Infant', serif;
    text-align: center;
    font-size: 75px;
    background-color: #feefb8;
    color: #e24e32;
    font-weight: bolder;
    padding: 20px;
}

.contact {
    font-family: 'Cormorant Infant', serif;
    text-align: center;
    font-size: 75px;
    background-color: #feefb8;
    color: #e24e32;
    font-weight: bolder;
    padding: 20px;
}

.contact2 {
    font-family: 'Cormorant Infant', serif;
    text-align: center;
    font-size: 20px;
    color: #e24e32;
    font-weight: bolder;
    padding: 10px;
    margin: 0 200px 20px 200px;
}

#info {
    margin: 70px;
    border: 5px #96251d solid;
    color: #47240a;
    background: #f7b643;
    padding: 50px;
    font-size: 30px;
    font-family: 'Rosario', sans-serif;
}

.picture {
    margin-top: 100px;
    width: 600px;
    height: 250px;
}

.container2 {
    display: flex;
    margin: 30px 50px 0 50px;
}
.container2 div {
    margin: 0 50px 0 50px;
}

.description {
    font-family: 'Rosario', sans-serif;
    text-align: center;
    font-size: 25px;
    margin-top: -50px;
    color: #47240a;
}

footer {
    background: #feefb8;
    color: #fff;
    padding: 30px 0;
    clear: both;
    border-top: 8px solid black;
    color: #e24e32;
    font-size: 12px;
    text-align:center;
    opacity: .7;
}

.main-section {
    background: #fff;
    padding: 30px;
    margin: 0 0 40px 0;
    width: 100%;
    max-width: 960px;
    float: left;
    border: 1px solid #ddd;
}
.form {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both; 
}

#contact-form ul {
    margin-bottom: 20px;
    font-family: 'Rosario', sans-serif;
    color: #47240a;
}

#contact-form li {
    margin-bottom: 10px;
    list-style: none;

}

label, input[type=text], input [type=email], textarea {
    display: block;
    width: 100%;
}

input[type=text], input [type=email], textarea {
    height: 35px;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-size: 14px;
}

textarea {
    height: 200px
}

input[type=submit] {
    background: #e24e32;
    border: 0 none;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
    margin-left: 780px;
}